<!DOCTYPE html>
<html lang="en">
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Admin Dashboard - Artify</title>

   <!-- iconscout cdn path -->
   <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
   <!-- CSS File Link -->
   <link rel="stylesheet" href="/static/css/admin_style.css">
   <style>
      .logo-img img {
             width: 70px;
             height: 50px;
             position: relative;
             top: 1.2rem;
             right: 2rem;
            } 
            .namec {
               position: relative;
               left: 3rem;
               bottom: 1.1rem;
            }
            </style>
            </head>
          
<body>
   {% csrf_token %}
   <div class="sidebar" id="sidebar">
      <div class="logo">
         <h2>
            <div class="logo-img">
               <img src="/static/img/logo7.jpg"><h3 class="namec">Artify</h3>
            </div>            
         </h2>
      </div>

      <div class="sidebar-menu">
         <ul>
            <li>
               <i class="uil uil-dashboard"></i>
               <span>Dashboard</span>
            </li>
            <li>
               <i class="uil uil-clipboard-notes"></i>
               <span>User</span>
            </li>
            <li>
               <i class="uil uil-chart-bar"></i>
               <span>Events</span>
            </li>
            <li>
               <i class="uil uil-calendar-alt"></i>
               <span>Products</span>
            </li>
            <li>
               <i class="uil uil-shopping-bag"></i>
               <span>Orders</span>
            </li>
            <li>
               <i class="uil uil-user-circle"></i>
               <span>Account</span>
            </li>
            <li>
               <i class="uil uil-signin"></i>
               <span>Logout</span>
            </li>
         </ul>
      </div>
   </div>

   <div class="main-content" id="main-content">
      <header class="flex">
         <h2>
            <i class="uil uil-bars" id="menu-icon"></i>
            Dashboard
         </h2>

         <div class="search-box">
            <i class="uil uil-search"></i>
            <input type="text" placeholder="Search Here...">
         </div>

         <div class="admin-box flex" >
            <img src="/static/img/logo7.jpg" width="30px" height="30px">
            <div>
               <h4>Naseem Khan</h4>
               <small>Admin</small>
            </div>
         </div>
      </header>

      <main>
         <div class="cards">
            <div class="single-card">
               <div>
                  <span>EARNINGS (MONTHLY)</span>
                  <h2>$40,000</h2>
               </div>
               <i class="uil uil-calender"></i>
            </div>
            <div class="single-card">
               <div>
                  <span>EARNINGS (ANNUAL)</span>
                  <h2>$215,000</h2>
               </div>
               <i class="uil uil-dollar-sign-alt"></i>
            </div>
            <div class="single-card">
               <div>
                  <span>Weekly Sales</span>
                  <h2>$47k</h2>
               </div>
               <i class="uil uil-chart-bar"></i>
            </div>
            <div class="single-card">
               <div>
                  <span>PENDING REQUESTS</span>
                  <h2>18</h2>
               </div>
               <i class="uil uil-comments"></i>
            </div>
         </div>


         <div class="wrapper flex">
            <div class="projects">
               <div class="card-header flex">
                  <h3>Recents User's</h3>
                  <button>See all <i class="uil uil-angle-right"></i></button>
               </div>

               <table>
                  <thead>
                     <th>
                        <tr>
                           <td>Name</td>
                           <td>Username</td>
                           <td>Email</td>
                           <td>Contact_No</td>
                           <td>Department</td>
                           <td>Action</td>
                        </tr>
                     </th>
                  </thead>

                  <tbody>
                   {% for customer in customer %}  
                     <tr>
                        <td>{{customer.Customer_name}}</td>
                        <td>{{customer.Customer_username}}</td>
                        <td>{{customer.Customer_Email}}</td>
                        <td>{{customer.Contact_no}}</td>
                        <td>customer</td>
                        <td>
                           <a href="/edit/{{ customer.Customer_username }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>
                           <a href="/destroy/{{ customer.Customer_username }}"><span class="glyphicon glyphicon-pencil" >Delete</span></a>  
                          
                        </td>
                     </tr>
                   {% endfor %}

                     {% for admin in admin %}  
                      <tr>
                         <td>{{admin.Admin_name}}</td>
                         <td>{{admin.Admin_username}}</td>
                         <td>{{admin.Admin_email}}</td>
                         <td>{{admin.Contact_no}}</td>
                         <td>admin</td>
                      </tr>
                      {% endfor %}

                     {% for artist in artist %}  
                     <tr>
                        <td>{{artist.Artist_name}}</td>
                        <td>{{artist.Artist_username}}</td>
                        <td>{{artist.Artist_email}}</td>
                        <td>{{artist.Artist_contact_no}}</td>
                        <td>artist</td>
                     </tr>
                     {% endfor %}

                     
                     {% for artgallerymanager in artgallerymanager %}  
                     <tr>
                        <td>{{artgallerymanager.Name}}</td>
                        <td>{{artgallerymanager.Username}}</td>
                        <td>{{artgallerymanager.Email}}</td>
                        <td>{{artgallerymanager.Contact_no}}</td>
                        <td>ArtGalleryManager</td>
                     </tr>
                     {% endfor %}

                   
                  </tbody>
               </table>
            </div>

            <div class="customers">
               <div class="card-header flex">
                  <h3>New Customers</h3>
                  <button>See all <i class="uil uil-angle-right"></i></button>
               </div>

               <table>
                  
                  <tr class="flex">
                     <td class="flex">
                        <img src="/static/img/logo7.jpg" width="30px" height="30px" alt="">
                        <div>
                           <h5>Naseem Khan</h5>
                           <small>CEO Expert</small>
                        </div>
                     </td>

                     <td>
                        <i class="uil uil-user-circle"></i>
                        <i class="uil uil-calender"></i>
                        <i class="uil uil-phone-alt"></i>
                     </td>
                  </tr>
                  <tr class="flex">
                     <td class="flex">
                        <img src="/static/img/logo7.jpg" width="30px" height="30px" alt="">
                        <div>
                           <h5>Naseem Khan</h5>
                           <small>CEO Expert</small>
                        </div>
                     </td>

                     <td>
                        <i class="uil uil-user-circle"></i>
                        <i class="uil uil-calender"></i>
                        <i class="uil uil-phone-alt"></i>
                     </td>
                  </tr>
                  <tr class="flex">
                     <td class="flex">
                        <img src="/static/img/logo7.jpg" width="30px" height="30px" alt="">
                        <div>
                           <h5>Naseem Khan</h5>
                           <small>CEO Expert</small>
                        </div>
                     </td>

                     <td>
                        <i class="uil uil-user-circle"></i>
                        <i class="uil uil-calender"></i>
                        <i class="uil uil-phone-alt"></i>
                     </td>
                  </tr>
                  <tr class="flex">
                     <td class="flex">
                        <img src="/static/img/logo7.jpg" width="30px" height="30px" alt="">
                        <div>
                           <h5>Naseem Khan</h5>
                           <small>CEO Expert</small>
                        </div>
                     </td>

                     <td>
                        <i class="uil uil-user-circle"></i>
                        <i class="uil uil-calender"></i>
                        <i class="uil uil-phone-alt"></i>
                     </td>
                  </tr>
                  <tr class="flex">
                     <td class="flex">
                        <img src="/static/img/logo7.jpg" width="30px" height="30px" alt="">
                        <div>
                           <h5>Naseem Khan</h5>
                           <small>CEO Expert</small>
                        </div>
                     </td>

                     <td>
                        <i class="uil uil-user-circle"></i>
                        <i class="uil uil-calender"></i>
                        <i class="uil uil-phone-alt"></i>
                     </td>
                  </tr>
                  <tr class="flex">
                     <td class="flex">
                        <img src="/static/img/logo7.jpg" width="30px" height="30px" alt="">
                        <div>
                           <h5>Naseem Khan</h5>
                           <small>CEO Expert</small>
                        </div>
                     </td>

                     <td>
                        <i class="uil uil-user-circle"></i>
                        <i class="uil uil-calender"></i>
                        <i class="uil uil-phone-alt"></i>
                     </td>
                  </tr>
                  <tr class="flex">
                     <td class="flex">
                        <img src="/static/img/logo7.jpg" width="30px" height="30px" alt="">
                        <div>
                           <h5>Naseem Khan</h5>
                           <small>CEO Expert</small>
                        </div>
                     </td>

                     <td>
                        <i class="uil uil-user-circle"></i>
                        <i class="uil uil-calender"></i>
                        <i class="uil uil-phone-alt"></i>
                     </td>
                  </tr>
               </table>
            </div>
         </div>
      </main>
   </div>

   <script>
      let sideBar = document.getElementById('sidebar');
      let menuIcon = document.getElementById('menu-icon');
      let mainContent = document.getElementById('main-content');

      menuIcon.onclick = () => {
         sideBar.classList.toggle('toggleMenu');
         mainContent.classList.toggle('toggleContent');
      }
   </script>
</body>
</html>
