<!DOCTYPE html>
<html lang="en">
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Artist Dashboard - Artify</title>

   <!-- iconscout cdn path -->
   <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
   <!-- CSS File Link -->
   <link rel="stylesheet" href="/static/css/artist_panel_style.css">
</head>
<body>
   <div class="sidebar" id="sidebar">
      <div class="logo">
         <h2>
            <i class="uil uil-apple-alt"></i>
            Artify
         </h2>
      </div>

      <div class="sidebar-menu">
         <ul>
            <li>
               <i class="uil uil-dashboard"></i>
               <span>Manage art</span>
            </li>
            <li>
               <i class="uil uil-clipboard-notes"></i>
               <span><a href="/notificationforartist/">Notification</span></a>
            </li>
            <li>
               <i class="uil uil-chart-bar"></i>
               <span><a href="/comunicatewithmanagerforartist/">Comunicate with manager</span></a>
            </li>
            <li>
               <i class="uil uil-calendar-alt"></i>
               <span><a href="/bookslotsforartist/"> Blocks slots</span></a>
            </li>
            <li>
               <i class="uil uil-shopping-bag"></i>
               <a href="/managerhistoryforartist/"><span>Manage histroy and order</span></a>
            </li>
            <li>
               <i class="uil uil-clipboard-notes"></i>
              <a href="/managepaymentforartist/"><span>Manage payment</span></a> 
            </li>
            <li>
               <i class="uil uil-user-circle"></i>
               <a href="/managestockforartist/"><span>manage stock</span></a>
            </li>
            <li>
               <i class="uil uil-signin"></i>
               <a href="/artistprofile/{{artist.Artist_username}}"><span>Account</span></a>
            </li>
         </ul>
      </div>
   </div>

   <div class="main-content" id="main-content">
      <header class="flex">
         <h2>
            <i class="uil uil-bars" id="menu-icon"></i>
            Dashboard
         </h2>

         <div class="admin-box flex" >
            <img src="/static/img/logo7.jpg" width="30px" height="30px">
            <div>
               <h4>{{artist.Artist_username}}</h4>
               <small>Artist</small>
            </div>
            <div>
               <button><a href="/AddProduct/{{artist.Artist_id}}">Add products </a><i class="link"></i></button>
            </div>
         </div>
      </header>

      <main>
          <div class="customers">
            <div class="card-header flex">
               <h3>Your Products </h3>
               <button><a href="/productsListPageForArtist/{{artist.Artist_id}}">See all </a><i class="link"></i></button>
            </div>

            <table>
               <thead>
                  <th>
                     <tr>
                        <td>Name</td>
                        <td>Decription</td>
                        <td>Price</td>
                        <td>Picture</td>
                        <td>Action</td>
                     </tr>
                  </th>
               </thead>
               <tr class="flex">
                  {% for product in product %}  
                  <tr>
                     <td>{{product.Name}}</td>
                     <td>{{product.Description}}</td>
                     <td>{{product.Price}}</td>
                     {% if product.Picture %}
                     <td>
                    <img src="{{product.Picture.url}}" width="50px" height="50px" alt="">
                    </td>
                    {% endif %}
                    <td>
                     <a href="/editProduct/{{ product.Product_id }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>
                    <a href="/destroyProduct/{{ product.Product_id }}"><span class="glyphicon glyphicon-pencil" onclick="popup()" >Delete</span></a>  
                    <script>
                     function popup() {
                        window.alert("Entry deleted successfully")
                     }
                    </script>
                    </td>
                    
                  </tr>
                  {% endfor %}
            </table>
      </main>
   </div>

       </main>
   </div>

   <script>
      let sideBar = document.getElementById('sidebar');
      let menuIcon = document.getElementById('menu-icon');
      let mainContent = document.getElementById('main-content');

      menuIcon.onclick = () => {
         sideBar.classList.toggle('toggleMenu');
         mainContent.classList.toggle('toggleContent');
      }
   </script>
</body>
</html>