<link rel="stylesheet" href="/static/css/cart.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">

<main id="cart" style="max-width:960px">
  <div class="back"><a href="#">&#11178; shop</a></div>
  <h1>Your Cart</h1>
  <div class="container-fluid">
    <div class="row align-items-start">
      <div class="col-12 col-sm-8 items">
        <!--1-->
        <div class="cartItem row align-items-start">
          <div class="col-3 mb-2">
            {% if products.Picture %}
            <td>
           <img src="{{products.Picture.url}}" width="50px" height="50px" alt="">
           </td>
           {% endif %}
          </div>
          {% for order in order %}
          <div class="col-5 mb-2">
            <h6 class="">{{order.product_id}}</h6>
            <p class="pl-1 mb-0">{{order.Description}}</p>
            
          </div>
          <div class="col-2">
            <p class="cartItemQuantity p-1 text-center">1</p>
          </div>
          <div class="col-2">
            <p id="cartItem1Price">₹-{{order.Price}}</p>
          </div>
        </div>
        {% endfor %}
        <hr>
      
        <!--2-->
  
        <hr>
        <div class="row mx-0 mb-2">
          <div class="col-sm-8 p-0 d-inline">
            <h5>Total</h5>
          </div>
          <div class="col-sm-4 p-0">
            <p id="total">{{product.Price}}</p>
          </div>
        </div>
        <a href="#"><button id="btn-checkout" class="shopnow"><span>Checkout</span></button></a>
      </div>
    </div>
  </div>
  </div>
</main>
<footer class="container">
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>