<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/signup.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UpdateUp</title>
</head>
<body>
    
    <div class="center"><h1><img src="/static/img/logo7.jpg" width="200px" height="80px"></h1>
        <form method="POST" action="/updateArtGalleryManager/{{artgallerymanager.Username}}">
            {% csrf_token %}
        <div class="fname">
            <input type="text" placeholder="Enter Full Name" name='name' value="{{artgallerymanager.Name}}" >
        </div>
        <div class="username">
            <input type="text" placeholder="Username" name='username' value="{{artgallerymanager.Username}}">
          </div>  
          <div class="email">
            <input type="emil" name="email" id="email" placeholder="Enter Your Email" value="{{artgallerymanager.Email}}">
           </div>
           <div class="passw">
            <input type="password" name="password" id="password" placeholder="Enter Your Passwors" value="{{artgallerymanager.password}}">     
        </div>
            <div class="cont">
                <input type="tel" name="contact" id="contact" placeholder="Contact_no" value="{{artgallerymanager.Contact_no}}">
            </div>
            <div class="id">
                <input type="file" name="id_proof" id="id_proof" placeholder="Id_proof"  value="{{artgallerymanager.id_proof}}">
                </div>
            <div class="signin">
                <center> <input type="submit" value="update"></center>
            </div>

            </form>
        </div>
</body>
</html>