<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="eventregistration.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EVENT REGISTRATION</title>
</head>
<body>
   <div class="all">
    <h1>EVENT REGISTRATION</h1>
        EVENT_NAME<br>
        <input type="text" name="name" id="name"><br><br>
        EVENT_TIME<br>
        <input type="time" name="time" id="time"><br><br>
        EVENT_DATE<br>
        <input type="date" name="date" id="date"><br><br>
        EVENT_VENUE<br>
        <input type="text" name="venue" id="venue"><br><br>
        EVENT_CPACITY<br>
        <input type="number" name="capacity" id="capacity"><br><br>    
        </div>
        <img src="logoo.jpg" width="850px" height="730px">
        <div class="submit">
         <input type="submit" name="UPDATE" value="UPDATE">
        </div>
</body>
</html>