<!DOCTYPE html>
<html lang="en">
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Admin Dashboard - WebTech Gyan</title>

   <!-- iconscout cdn path -->
   <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
   <!-- CSS File Link -->
   <link rel="stylesheet" href="/static/css/admin_style.css">
</head>
<body>
   <div class="sidebar" id="sidebar">
      <div class="logo">
         <h2>
            <i class="uil uil-apple-alt"></i>
            Artify
         </h2>
      </div>

      <div class="sidebar-menu">
         <ul>
            <li>
               <i class="uil uil-dashboard"></i>
               <span>Manage history and order</span>
            </li>
            <li>
               <i class="uil uil-dashboard"></i>
               <a href="artist.html"><span>Manage art</span></a>
               <link rel="Stylesheet" href="artist_panel_style.css">
             
            </li>
            <li>
               <i class="uil uil-clipboard-notes"></i>
               <a href="notification.html"><span>Notification</span></a>
               <link rel="Stylesheet" href="artist_panel_style.css">
            </li>
            <li>
               <i class="uil uil-clipboard-notes"></i>
               <a href="comunicate with manager.html"><span>Comunicate with manager</span></a>
               <link rel="Stylesheet" href="artist_panel_style.css">
            </li>
            <li>
               <i class="uil uil-clipboard-notes"></i>
            <a href="block slots.html"><span>Block slots</span></a>
            <link rel="Stylesheet" href="artist_panel_style.css">
            </li>
            <li>
               <i class="uil uil-clipboard-notes"></i>
               <a href="manage payment.html"><span>Manage payment</span></a>
               <link rel="Stylesheet" href="artist_panel_style.css">
            </li>
            <li>
               <i class="uil uil-clipboard-notes"></i>
            <a href="manage stock.html"><span>Manage stock</span></a>
            <link rel="Stylesheet" href="artist_panel_style.css">
            </li>
            <li>
               <i class="uil uil-signin"></i>
               <span>Logout</span>
            </li>
         </ul>
      </div>
   </div>

   <div class="main-content" id="main-content">
      <header class="flex">
         <h2>
            <i class="uil uil-bars" id="menu-icon"></i>
            Dashboard
         </h2>

         <div class="search-box">
            <i class="uil uil-search"></i>
            <input type="text" placeholder="Search Here...">
         </div>

         <div class="admin-box flex" >
            <img src="images/user.jpeg" width="30px" height="30px">
            <div>
               <h4>Naseem Khan</h4>
               <small>Admin</small>
            </div>
         </div>
      </header>

      <main>
         <div class="wrapper flex">
            <div class="projects">
               <div class="card-header flex">
                  <h3>Recents Projects</h3>
                  <button>See all <i class="uil uil-angle-right"></i></button>
               </div>

               <table>
                  <thead>
                     <th>
                        <tr>
                           <td>Project Title</td>
                           <td>Department</td>
                           <td>Status</td>
                        </tr>
                     </th>
                  </thead>

                  <tbody>
                     <tr>
                        <td>UI/UX Designer</td>
                        <td>UI Team</td>
                        <td class="status-box">
                           <span class="status review"></span>review
                        </td>
                     </tr>
                     <tr>
                        <td>UI/UX Designer</td>
                        <td>UI Team</td>
                        <td class="status-box">
                           <span class="status progress"></span>progress
                        </td>
                     </tr>
                     <tr>
                        <td>UI/UX Designer</td>
                        <td>UI Team</td>
                        <td class="status-box">
                           <span class="status pending"></span>pending
                        </td>
                     </tr>
                     <tr>
                        <td>UI/UX Designer</td>
                        <td>UI Team</td>
                        <td class="status-box">
                           <span class="status review"></span>review
                        </td>
                     </tr>
                     <tr>
                        <td>UI/UX Designer</td>
                        <td>UI Team</td>
                        <td class="status-box">
                           <span class="status progress"></span>progress
                        </td>
                     </tr>
                     <tr>
                        <td>UI/UX Designer</td>
                        <td>UI Team</td>
                        <td class="status-box">
                           <span class="status pending"></span>pending
                        </td>
                     </tr>
                     <tr>
                        <td>UI/UX Designer</td>
                        <td>UI Team</td>
                        <td class="status-box">
                           <span class="status review"></span>review
                        </td>
                     </tr>
                     <tr>
                        <td>UI/UX Designer</td>
                        <td>UI Team</td>
                        <td class="status-box">
                           <span class="status progress"></span>progress
                        </td>
                     </tr>
                     <tr>
                        <td>UI/UX Designer</td>
                        <td>UI Team</td>
                        <td class="status-box">
                           <span class="status pending"></span>pending
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>

            <div class="customers">
               <div class="card-header flex">
                  <h3>New Customers</h3>
                  <button>See all <i class="uil uil-angle-right"></i></button>
               </div>

               <table>
                  
                  <tr class="flex">
                     <td class="flex">
                        <img src="images/user.jpeg" width="30px" height="30px" alt="">
                        <div>
                           <h5>Naseem Khan</h5>
                           <small>CEO Expert</small>
                        </div>
                     </td>

                     <td>
                        <i class="uil uil-user-circle"></i>
                        <i class="uil uil-calender"></i>
                        <i class="uil uil-phone-alt"></i>
                     </td>
                  </tr>
                  <tr class="flex">
                     <td class="flex">
                        <img src="images/user.jpeg" width="30px" height="30px" alt="">
                        <div>
                           <h5>Naseem Khan</h5>
                           <small>CEO Expert</small>
                        </div>
                     </td>

                     <td>
                        <i class="uil uil-user-circle"></i>
                        <i class="uil uil-calender"></i>
                        <i class="uil uil-phone-alt"></i>
                     </td>
                  </tr>
                  <tr class="flex">
                     <td class="flex">
                        <img src="images/user.jpeg" width="30px" height="30px" alt="">
                        <div>
                           <h5>Naseem Khan</h5>
                           <small>CEO Expert</small>
                        </div>
                     </td>

                     <td>
                        <i class="uil uil-user-circle"></i>
                        <i class="uil uil-calender"></i>
                        <i class="uil uil-phone-alt"></i>
                     </td>
                  </tr>
                  <tr class="flex">
                     <td class="flex">
                        <img src="images/user.jpeg" width="30px" height="30px" alt="">
                        <div>
                           <h5>Naseem Khan</h5>
                           <small>CEO Expert</small>
                        </div>
                     </td>

                     <td>
                        <i class="uil uil-user-circle"></i>
                        <i class="uil uil-calender"></i>
                        <i class="uil uil-phone-alt"></i>
                     </td>
                  </tr>
                  <tr class="flex">
                     <td class="flex">
                        <img src="images/user.jpeg" width="30px" height="30px" alt="">
                        <div>
                           <h5>Naseem Khan</h5>
                           <small>CEO Expert</small>
                        </div>
                     </td>

                     <td>
                        <i class="uil uil-user-circle"></i>
                        <i class="uil uil-calender"></i>
                        <i class="uil uil-phone-alt"></i>
                     </td>
                  </tr>
                  <tr class="flex">
                     <td class="flex">
                        <img src="images/user.jpeg" width="30px" height="30px" alt="">
                        <div>
                           <h5>Naseem Khan</h5>
                           <small>CEO Expert</small>
                        </div>
                     </td>

                     <td>
                        <i class="uil uil-user-circle"></i>
                        <i class="uil uil-calender"></i>
                        <i class="uil uil-phone-alt"></i>
                     </td>
                  </tr>
                  <tr class="flex">
                     <td class="flex">
                        <img src="images/user.jpeg" width="30px" height="30px" alt="">
                        <div>
                           <h5>Naseem Khan</h5>
                           <small>CEO Expert</small>
                        </div>
                     </td>

                     <td>
                        <i class="uil uil-user-circle"></i>
                        <i class="uil uil-calender"></i>
                        <i class="uil uil-phone-alt"></i>
                     </td>
                  </tr>
               </table>
            </div>
         </div>
      </main>
   </div>

   <script>
      let sideBar = document.getElementById('sidebar');
      let menuIcon = document.getElementById('menu-icon');
      let mainContent = document.getElementById('main-content');

      menuIcon.onclick = () => {
         sideBar.classList.toggle('toggleMenu');
         mainContent.classList.toggle('toggleContent');
      }
   </script>
</body>
</html>