<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" type="text/css" href="/static/css/productList.css">
</head>
<body>
    <script type="text/javascript" src="/static/js/productlist.js"></script>
    
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700,800" rel='stylesheet' type='text/css'>
<div class="tools">
  <div class="search-area">
    <input type="text" id="search" placeholder="Search" /> <button id="searchbutton">Go</button>
  </div>
  <div class="settings">
    <button id="view">Switch View</button>
  </div>
</div>
{% for product in product %}  
<div class="products products-table">
  <div class="product">
    <div class="product-img">
      {% if product.Picture %}
      <td>
     <img src="{{product.Picture.url}}" width="50px" height="50px" alt="">
     </td>
     {% endif %}
    </div>
    <div class="product-content">
      <h3>{{product.Name}}</h3>
      <h3>{{product.Description}}
      <p class="product-text price">₹ {{product.Price}}</p>
      <p class="product-text genre"></p>
    </div>
  </div>
  
</div>
{% endfor %}
</body>
</html>