<!DOCTYPE html>
<html lang="en">
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Admin Dashboard - Artify</title>

   <!-- iconscout cdn path -->
   <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
   <!-- CSS File Link -->
   <link rel="stylesheet" href="/static/css/admin_style.css">
   <style>
      .logo-img img {
             width: 70px;
             height: 50px;
             position: relative;
             top: 1.2rem;
             right: 2rem;
            } 
            .namec {
               position: relative;
               left: 3rem;
               bottom: 1.1rem;
            }
            </style>
            </head>
          
<body>
   {% csrf_token %}
   <div class="sidebar" id="sidebar">
      <div class="logo">
         <h2>
            <div class="logo-img">
            <h3 class="namec">Artify</h3>
            </div>            
         </h2>
      </div>

      <div class="sidebar-menu">
         <ul>
            <li>
               <i class="uil uil-dashboard"></i>
               <a href="/admin_panel/"><span>Dashboard</span></a>
            </li>
               <li>
                  <i class="uil uil-clipboard-notes"></i>
                 <a href="/userpageforadmin/"><span>User</span></a>
               </li>
               <li>
                  <i class="uil uil-chart-bar"></i>
                  <a href="/eventspageforadmin/"><span>Events</span></a>
               </li>
               <li>
                  <i class="uil uil-calendar-alt"></i>
                  <a href="/products/"><span>Products</span></a>
               </li>
            <li>
               <i class="uil uil-shopping-bag"></i>
               <span>Orders</span>
            </li>
            <li>
               <i class="uil uil-user-circle"></i>
               <span>Account</span>
            </li>
            <li>
               <i class="uil uil-signin"></i>
               <span>Logout</span>
            </li>
         </ul>
      </div>
   </div>

   <div class="main-content" id="main-content">
      <header class="flex">
         <h2>
            <i class="uil uil-bars" id="menu-icon"></i>
            Dashboard
         </h2>

       
         <div class="admin-box flex" >
            <img src="/static/img/logo7.jpg" width="30px" height="30px">
            <div>
               <h4>artify artify</h4>
               <small>Admin</small>
            </div>
         </div>
      </header>

      <main>
        
         <div class="wrapper flex">
            <div class="projects">
               <div class="card-header flex">
                  <h3>Products Register in the system</h3>
               </div>

               <table>
                  <thead>
                     <th>
                        <tr>
                           <td>Name</td>
                           <td>Decription</td>
                           <td>Price</td>
                           <td>Artist_id</td>
                           <td>Picture</td>
                           <td>Action</td>
                        </tr>
                     </th>
                  </thead>

                  <tbody>
                   {% for products in products %}  
                     <tr>
                        <td>{{products.Name}}</td>
                        <td>{{products.Description}}</td>
                        <td>{{products.Price}}</td>
                        {% if products.Picture %}
                        <td>
                       <img src="{{products.Picture.url}}" width="50px" height="50px" alt="">
                       </td>
                       {% endif %}
                        <td>product</td>
                        <td>
                           <a href="/editProduct/{{ products.Product_id }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>
                           <a href="/destroy/{{ products.Product_id }}"><span class="glyphicon glyphicon-pencil" onclick="popup()" >Delete</span></a>  
                            <script>
                           function popup() {
                              window.alert("Entry deleted successfully")
                           }
                          </script>
                        </td>
                     </tr>
                   {% endfor %}

                     {% for admin in admin %}  
                      <tr>
                         <td>{{admin.Admin_name}}</td>
                         <td>{{admin.Admin_username}}</td>
                         <td>{{admin.Admin_email}}</td>
                         <td>{{admin.Contact_no}}</td>
                         <td>admin</td>
                      </tr>
                      {% endfor %}

                     {% for artist in artist %}  
                     <tr>
                        <td>{{artist.Artist_name}}</td>
                        <td>{{artist.Artist_username}}</td>
                        <td>{{artist.Artist_email}}</td>
                        <td>{{artist.Artist_contact_no}}</td>
                        <td>artist</td>
                        <td>
                           <a href="/editArtist/{{ artist.Artist_username }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>
                           <a href="/destroyArtist/{{ artist.Artist_username }}"><span class="glyphicon glyphicon-pencil" onclick="popup()" >Delete</span></a>  
                        </td>
                     </tr>
                     {% endfor %}
                     {% for artgallerymanager in artgallerymanager %}  
                     <tr>
                        <td>{{artgallerymanager.Name}}</td>
                        <td>{{artgallerymanager.Username}}</td>
                        <td>{{artgallerymanager.Email}}</td>
                        <td>{{artgallerymanager.Contact_no}}</td>
                        <td>ArtGalleryManager</td>
                        <td>
                           <a href="/editArtGalleryManager/{{ artgallerymanager.Username }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>
                           <a href="/destroyArtGalleryManager/{{ artgallerymanager.Username }}"><span class="glyphicon glyphicon-pencil" onclick="popup()" >Delete</span></a>  
                        </td>
                     </tr>
                     {% endfor %}
                
                  </tbody>
               </table>
            </div>  
               </table>
            </div>
         </div>
      </main>
   </div>

   <script>
      let sideBar = document.getElementById('sidebar');
      let menuIcon = document.getElementById('menu-icon');
      let mainContent = document.getElementById('main-content');

      menuIcon.onclick = () => {
         sideBar.classList.toggle('toggleMenu');
         mainContent.classList.toggle('toggleContent');
      }
   </script>
</body>
</html>
