<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/signupp.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ArgalleryManager</title>
</head>
<body>
    <div class="center"><h1><img src="/static/img/logo7.jpg" width="200px" height="80px"></h1>
        <form method="post" action="../signupuserforartgallerymanager/">
            {% csrf_token %}
        <div class="fname">
            <input type="text" placeholder="Name" name="name">
        </div>
        <div class="lname">
            <input type="text" placeholder="Username" name="username">
          </div>  
          <div class="email">
            <input type="emil" name="email" id="email" placeholder="Enter Your Email">
           </div>
           <div class="passw">
            <input type="password" name="password" id="password" placeholder="Enter Your Passwors" >     
        </div>
            <div class="cont">
                <input type="tel" name="contact" id="contact" placeholder="Contact_no" maxlength="10">
            </div>
            <div class="id">
            <input type="file" name="id_proof" id="id_proof" placeholder="Id_proof">
            </div>
            <div class="login">
               Already a member? <a href="{%url 'login'%}">Log In</a></div>
               
               <div class="signin">
                <center> <input type="submit" value="signup"></center>
            </div>
               
            </div>

            </form>
        </div>
</body>
</html>